---

- name: Install iptables-persistent
  become: yes
  apt: 
    name: iptables-persistent
    state: present

- name: Setup SSH rules for containers
  become: yes
  iptables:
    table: nat
    chain: PREROUTING
    in_interface: eth1
    protocol: tcp
    destination: "{{ groups.int[0] }}"
    destination_port: "{{ hostvars[item].ansible_ssh_port }}"
    jump: DNAT
    to_destination: "{{ hostvars[item].container_ip }}:22"
  with_items: "{{ groups.int_containers }}"

- name: Setup NAT services
  become: yes
  command: iptables -t nat -A PREROUTING -i eth1 -p tcp -m multiport --dports {{ hostvars[item].service_port }} -j DNAT --to-destination "{{ hostvars[item].container_ip }}:{{ hostvars[item].service_port }}"
  with_items: "{{ groups.int_containers }}"

- name: Refresh iptables
  include_role:
    name: iptables-persistent